body{
    display: inline;
    margin: 0px;
    background: #383838;
    color: white;
}

#top-bar{
    width: 100vw;
    height: 10vh;
    padding-top: 1px;
    text-align: center;
}

.navbar-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-li{
    float: left;
}

.navbar-li a:hover {
    background-color: rgb(83, 82, 82);
    color: black;
}

.navbar-a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.table{
    max-width: 45vw;
    max-height: 20vh;
    float: left;
    margin-left: 20px;
}

.signal-visual-left{
    width: 45%;
    float: left;
    height: fit-content;
    padding-left: 2%;
}

.dataframe{
    width: 100%;
    float: left;
    height: 25vh;
    max-height: 25vh;
    margin-top: 2vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.instruction-choice{
    width: 100%;
    float: left;
    margin-top: 2vh;
}

.costPlot-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.costPlot-img{
    width: 100%;
    height: auto;
}

.signal-visual-right{
    width: 45%;
    float: left;
    height: fit-content;
    padding-left: 2%;
}
